
body{
    font-family: monospace; 
    background-color: #e0e3f4;
    
}
h2{
    color: black;
    text-shadow: 2px 1px 3px black;
    font-size: 25px;
}
h3{
    color: blue;
    border: 2px solid black;
    width: 150px;
    height: auto;
}
table{
    border: 4px solid #000000;
    font-size: larger;
    background: linear-gradient(to right, red, blue, green);
    width: 500px;
}
td{
    border-radius: 5px;
    border: 2px solid yellow;
}
div{
    margin: 10px auto;
}
input.btn{
    border: 2px solid black;
    border-radius: 8px;   
    background-color: green;
    font-size: 15px;
    width: 65px;    
    transition: width 1s;
}
input[type="checkbox"]{
    accent-color: yellow;    
}
input[type="radio"]{
    accent-color: yellow;
}
input.btn:hover{
    background-color: rgb(105, 227, 105);
    width: 70px;
}
.inp{
    border: 2px solid ;
    border-radius: 10px;
    padding: 2px 4px;
    font-size: 12px;
}